<%= form_for @document, :html => {:multipart => true} do |f| %>

   <% if @document.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @document.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <div class="row">
    <div class="large-6 columns">
    <%= f.label :scholar_year %>
    <%= f.number_field :scholar_year %>
    </div>
    <div class="large-6 columns">
    <%= f.label :departement %>
    <%= f.select :departement, Document::DEPARTEMENT %>
    </div>  
  </div>
  
  <%= f.label :publication_year %>
  <%= f.number_field :publication_year %>

  <hr>

  <%= f.file_field :original_file %>

  <hr>

  <%= f.submit "Submit", class: "button" %>
<% end %>
